@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;900&display=swap');

body {
    background-color: #0e1212;
    font-family: 'Source Code Pro', monospace;
   
}

/*********************************/
/*      1-  Navigation Bar       */
/*********************************/

header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    margin-top: 30px;
    position: absolute;
    justify-content: space-evenly;
    background-color: transparent;

}

.logo {
    font-weight: 700;
    color : var(--primary);
}

.navbar {
    display: flex;
}

.navbar ul {
    display: flex;
    font-weight: 900;
    list-style-type: none;
}

.navbar li {
    margin: 10px;
}

.navbar a {
    display: flex;
    color: #c2c2c2;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
}

.navbar a:hover {
    color: white;
    transition-duration: 0.3s;
}


/*********************************/
/*      2-  Main Section         */
/*********************************/

.content-wrapper {
    width: 100%;
    display: flex;
    padding-top: 70px;
}

.text-container {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    width: 50%;
}

.name {
    color: var(--primary);
    font-size: 3em;
}

.role {
    color: #c2c2c2;
}


#coding-svg {
    width: 800px;
    height: 800px;
}


/* Color palette */
#root {
    --primary: #5127a7;
    --secondary: #7849D4;
    --on-primary: #474847;
    --on-secondary: #202020;
}